################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


*.exe
*.pdb
*.suo
*.vsidx
*.suo
*.baml
*.cache
*.png
*.lock
*.testlog
*.manifest
