################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


*.exe
*.pdb
*.suo
*.vsidx
*.suo
*.baml
*.cache
/База артикулов/.vs/База артикулов/v17/TestStore/0/testlog.manifest
